/*..................Estilos contenido Presentación...................... */
#presentacion {
    background-color: #F4F1E5;
    font-family: "Poppins";
    color: #30384A;

    img {
        width: 85%;
    }
}

#destacados {
    background-color: #758E95;
    font-family: "Poppins";
    color: #F4F1E5;
}



.card-body {
    font-family: "Poppins";
    color: #30384A;
}

.card {
    img {
        object-fit: cover;
        height: 100%;
    }
}






