/*..................Estilos contenido Testimonios con uso de BEM...................... */
.testimonials {
    text-align: center;
    padding: 30px 0;


    &__title {
        font-size: 2rem;
        margin-bottom: 5px;
        font-weight: bold
    }

    &__list {
        @include flex-abs;
        gap: 20px;
    }
}

.testimonial {
    background-color:$info;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 25px;


    &__text {
        font-size: 1em;
        font-style: italic;
        margin-bottom: 20px;
    }

    &__author {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__photo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 2px solid $primary;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    &__name {
        font-size: 1.1em;
    }

}

// visualizacion en dispositivos mobiles
@media(max-width: 600px) {
    .testimonials {
        text-align: center;
        padding: 5px 0;
    }

    .testimonial {
        padding: 10px;
        margin: 1px;

        &__title {
            font-size: 2rem;
        }



        &__text {
            font-size: 1 rem;
        }

        &__name {
            font-size: 1 rem;
        }
    }
}